# Executable
*.out

# Wave file
*.vcd
*.vcd.pdf

# Build directory
build/

# luarc Configuration file
.luarc.json

# VBuild files
vbuild.config
.vbuild_history
src/fp16/adder/fp16adder.v.bak
testbenches/fp16adder_tb.v.bak
